body {
    background-color: rgb(200, 245, 205);
}

.navbar {
    background: rgb(160, 205, 165);
}

.nav-link {
    color: white;
    text-shadow: 0 0 2px black;
}

.nav-link:hover {
    color: rgb(180, 240, 255);
}